server:
  port: 8080

spring:
  application:
    name: demo
  datasource:
    url: jdbc:mysql://mysql:3306/publicworks?useSSL=false&allowPublicKeyRetrieval=true
    username: pw
    password: pw
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  redis:
    host: redis
    port: 6379
    password:

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  health:
    db:
      enabled: true
    redis:
      enabled: true
